@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-image: url(pexels-nothing-ahead-6924268.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    color: white;
}

.container {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.logo {
    text-align: center;
    font-size: 24px;
    margin-top: 2rem;
}

.column {
    float: left;
    width: 100%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

.card:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.button {
    display: block;
    padding: 10px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
}

.button:hover {
    background-color: #444;
}

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}
